.img-fluid{
    height: 15em;
    width: 100%;
}


.card-img-top{
    padding-top: 25px;
}

.mySection{
    margin-bottom: 40em !important;
    z-index: 999999;
    background-color: white;
    margin-top: 70px !important;
}