.card-img-top{
    width:90%;
    height: 90%;
    padding-left: 10%;
}

.mySection {
    margin-bottom: 40em !important;
    z-index: 999999;
    background-color: white;
    margin-top: 70px !important;
}