.ownContainer{
    margin-top: 100px !important;
}

.ownButton{
    margin-top: 10px;
}

.mySection {
    margin-bottom: 40em !important;
    z-index: 999999;
    background-color: white;
    margin-top: 70px !important;
}